@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --background: 200 65% 95%;
    --foreground: 200 5% 10%;
    --card: 200 50% 90%;
    --card-foreground: 200 5% 13%;
    --popover: 200 65% 95%;
    --popover-foreground: 200 95% 10%;
    --primary: 200 31.7% 24.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 200 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 162 30% 85%;
    --muted-foreground: 200 5% 35%;
    --accent: 162 30% 80%;
    --accent-foreground: 200 5% 13%;
    --destructive: 0 65% 30%;
    --destructive-foreground: 200 5% 90%;
    --border: 200 30% 50%;
    --input: 200 30% 18%;
    --ring: 200 31.7% 24.1%;
    --radius: 0.3rem;
  }

  .dark {
    --background: 200 50% 10%;
    --foreground: 200 5% 90%;
    --card: 200 50% 10%;
    --card-foreground: 200 5% 90%;
    --popover: 200 50% 5%;
    --popover-foreground: 200 5% 90%;
    --primary: 200 31.7% 24.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 200 30% 13%;
    --secondary-foreground: 0 0% 100%;
    --muted: 162 30% 15%;
    --muted-foreground: 200 5% 60%;
    --accent: 162 30% 15%;
    --accent-foreground: 200 5% 90%;
    --destructive: 0 65% 30%;
    --destructive-foreground: 200 5% 90%;
    --border: 200 30% 18%;
    --input: 200 30% 18%;
    --ring: 200 31.7% 24.1%;
    --radius: 0.3rem;
  }

}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.qr-code--width {
  max-width: calc(100% - 32px);
}